.app-footer {
	margin-top: 60px;
	padding-top: 16px;
	padding-bottom: 16px;

	border-top: 2px solid var(--border-color);

	background-color: var(--background-color-2);

	.container {
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}

	&__copyrights {
		font-size: var(--fs-xs);
	}
}


@media all and (--screen-tablet) {
	.app-footer {
		margin-top: 40px;

		.container {
			flex-direction: column;
		}
	}
}
