.l-section {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 28px;

    width: 100%;
  }

  &.full {
    padding: 26px 40px;

    .l-section__container {
      max-width: var(--container-width);
      margin: 0 auto;
    }
  }
}

@media all and (width <= 990px) {
  .l-section {
    &__container {
      gap: 24px;
    }

    &.full {
      padding: 26px 16px;
    }
  }
}
