.ui-button {
	padding: 12px 30px;

	cursor: pointer;
	transition: all 0.3s ease-in-out;

	border: 2px solid var(--primary-blue);
	border-radius: 30px;
	background-color: var(--white);
	box-shadow: 0 10px 10px -8px rgb(0 0 0 / 22%);

	font-size: var(--fs-sm);

	&:hover {
		color: var(--white);
		background-color: var(--primary-blue);
	}
}
