.app-header {
  padding: 20px;

  border: 1px solid rgb(252 252 252 / 5%);

  background: var(--sidebar-gradient);
  backdrop-filter: blur(15px);

  @media all and (--screen-tablet) {
    padding: 34px 20px 24px;
  }

  @media all and (--screen-4k) {
    padding: 34px 28px 24px;
  }
}
