@custom-media --viewport-from-s (min-width: 360px);

@custom-media --viewport-from-m (min-width: 560px);

@custom-media --viewport-from-ml (min-width: 768px);

@custom-media --viewport-from-l (min-width: 960px);

@custom-media --viewport-from-xl (min-width: 1280px);
