:root {
  --bg-color: #040404;
  --gradient-0: linear-gradient(rgb(0 163 255 / 6%) 100%, rgb(0 163 255 / 50%) 0%);
  --gradient-1: linear-gradient(-90deg, rgb(0 170 255 / 4%) 0%, rgb(0 170 255 / 2%) 100%);
}
